body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

#bar {
  background-color: #ffffff;
  color: #000000;
}

#container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 65%;
  margin: 1.5% auto;
}

.square{
  width: 20%;
  padding-top: 20%;
  margin: 0% auto;
  border-radius: 25%;
  border-width: 3px;
  border-color: "black";
}